#contact.window
  %h1 Contact The Wonder Bars

  %p You too can contact The Wonder Bars...

  %h2 Wanna book us?

  %p
    = mail_to "Get in contact with our booking agent", @booking_email

  %h2 For all other inquiries

  %p
    = mail_to "Talk to management", @management_email
