%dl#contact
  %dt Contact The Wonder Bars

  %dd
    %h2 Wanna book us?
    %p
      Get in contact with
      = mail_to "our booking agent", @booking_email

    %h3 For all other inquiries
    %p
      Talk to
      = mail_to "management", @management_email
