#contact.window
  %h1 Contact The Wonder Bars

  %p You too can contact The Wonder Bars...

  %h2 Wanna book us?

  %h3= mail_to @booking_email, "Get in contact with our booking agent"

  %h2 For all other inquiries

  %h3= mail_to @management_email, "Talk to management"
