#shows
  %h2 Wanna come see us play?

  %p
    We post our events on our Facebook page too, so check that for frequent updates!
  %br/
  %table.table.table-bordered
    %thead
      %tr
        %td Event
        %td Venue
        %td Location
        %td Date
    %tbody
      %tr
        %td= link_to "PEX Summer Festival", "http://pexsummerfestival.com"
        %td Ramblewood
        %td Darlington, MD
        %td 7/1/2012
