set :application, "the wonder bars"
set :repository,  "git@github.com:tubbo/thewonderbars.com.git"
set :scm, :git

role :web, "thewonderbars.com"
role :app, "thewonderbars.com"
role :db,  "thewonderbars.com", :primary => true

# if you want to clean up old releases on each deploy uncomment this:
# after "deploy:restart", "deploy:cleanup"

# if you're still using the script/reaper helper you will need
# these http://github.com/rails/irs_process_scripts

namespace :deploy do
  task :restart do
    run "cd #{current_release}; touch tmp/restart.txt"
  end
end
