%object{:id => "player", :height => "18", :width => "100%"}
  %param{:name => "movie", :value => "https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1220342&auto_play=false&player_type=tiny&font=Arial&color=0000ff"}
  %param{:name => "allowscriptaccess", :value => "always"}
  %param{:name => "wmode", :value => "transparent"}
  %embed{:allowscriptaccess => "always", :height => "18", :src => "https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1220342&auto_play=false&player_type=tiny&font=Arial&color=0000ff", :type => "application/x-shockwave-flash", :width => "100%", :wmode => "transparent"}
