// A #desktop .window on the site. Color scheme for all pages.
@mixin wonder-window {
  background: rgba(255, 255, 255, 0.94);
  border: 1px solid #000;
  padding: 35px;
  width: 560px;
  height: 480px;
  margin-left: 300px;
  overflow: scroll;

  .close {

  }

  h2 {
    font: $brandon 24px;
    color: #0000FF;
  }

  table {
    thead {
      border-bottom: 1px solid #FF0000;

      th {
        font-family: $helvetica;
        font-weight: bold;
      }
    }
    tbody {
      margin-top: 10px;
    }
  }

  h3 {
    font: $helvetica 14px;
  }
}

// The big red links at the bottom of the page.
@mixin big-red-nav-link {
  font: 36px $brandon;
  font-weight: bold;
  padding-left: 35px;
  display: inline-block;

  &a {
    text-decoration: none;

    &:link, &:visited {
      color: #FF0000;
    }
    &:hover, &:active {
      color: #000;
    }
  }
}

