// Rounded corners
@mixin rounded($radius: 10px, $moz:true, $webkit: true, $ms:true){
  @if $moz      {-moz-border-radius:    $radius;}
  @if $webkit   {-webkit-border-radius: $radius;}
  @if $ms       {-ms-border-radius:     $radius;}
  border-radius: $radius;
  behavior:url('/assets/PIE-1.0/PIE.htc');
}

// A #desktop .window on the site. Color scheme for all pages.
@mixin wonder-window {
  background: rgba(255, 255, 255, 0.94);
  border: 1px solid #0000FF;
  padding: 35px;
  width: 560px;
  height: 500px;
  margin-left: 300px;
  overflow: scroll;
  @include rounded;

  .close {

  }

  h2 {
    font: $brandon 24px;
    color: #0000FF;
  }

  h2,h3,h4,h5,h6,img {
    margin-bottom: 24px;
  }

  table {
    thead {
      border-bottom: 1px solid #FF0000;

      th {
        font-family: $helvetica;
        font-weight: bold;
      }
    }
    tbody {
      margin-top: 10px;
    }
  }

  h3 {
    font: $helvetica 14px;
  }
}

// The big red links at the bottom of the page.
@mixin big-red-nav-link {
  font: 36px $brandon;
  font-weight: bold;
  padding-left: 35px;
  display: inline-block;

  &:link { color: #FF0000; }
  &:visited { color: #FF0000; }
  &:hover { color: #000; text-decoration:none; }
  &:active { color: #000; }
  &.clicked { color: #000; }
}

// The ajax spinner gif
@mixin ridin-spinnas {
  margin-left: 500px;
  margin-top: 200px;
  display: none;
  width: 20%;
  height: 20%;
}
