// PrimaryColors is the UI theme employed by The Wonder Bars, with
// Twitter Bootstrap as a base. All UI windows are using this theme,
// with the rest of the site free to use its own design.

.window {
  background: #FFF;
  opacity: 0.7;
  border: 1px solid #000;

  .close {

  }

  h2 {
    font: $brandon 24px;
    color: #0000FF;
  }

  table {
    thead {
      border-bottom: 1px solid #FF0000;

      th {
        font-family: $helvetica;
        font-weight: bold;
      }
    }
    tbody {
      margin-top: 10px;
    }
  }

  h3 {
    font: $helvetica 14px;
  }

  a {
    text-decoration: none;

    &:link, &:visited {
      color: #0000FF;
    }
    &:hover, &:active {
      color: #FFF;
    }
  }
}
