// Use the logo as a background image. Works on all browsers.
#wonderbars {
  background: url('/assets/logo-background.png') no-repeat;
  min-height: 720px;
}

// For HTML5 browsers, a special link appears when you click the logo.
header {
  h1 {
    display: none;
    color: #FF0000;
  }
}

// The "Desktop" is where all PrimaryColors UI windows appear. It is an amorphous space that takes
// up the entire screen (and even overshadows the <header>), allowing UI windows to be dragged
// anywhere.
#desktop {
  padding: 50px;
  min-height: 555px;

  div { @include wonder-window }
  #spinner { @include ridin-spinnas }
}

// The "Dock" is the navigation menu. It provides links to the pages on this site as well as an
// indicator of where you are currently in the site.
footer {
  nav {
    a { @include big-red-nav-link }
  }

  #player { margin: 30px 30px 0px 30px }
}

