#releases
  %h2 What We Play

  %iframe{:frameborder => "no", :height => "450", :scrolling => "no", :src => "http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1220342&auto_play=true&show_artwork=true&color=ff0000", :width => "100%"}

  %h2 All Releases

  %p= "None added yet. Stay tuned!" if @releases.empty?
